@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #222831;
  --dark-primary: #31363f;
  --dark-secondary: #76abae;
  --dark-text: #eeeeee;

  --light-background: #eeeeee;
  --light-primary: #d7d9de;
  --light-secondary: #897d7a;
  --light-text: #222831;
}

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: #8040ee transparent;
    background-color: var(--light-background);
  }
  .dark {
    background-color: var(--dark-background);
  }
}

@layer components {
  ::selection {
    background-color: #8040ee;
    color: #fff;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8040ee;
    border-radius: 10px;
  }
}
