@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-darkbackground: #202231;
	--color-darkprimary: #2a2d3e;
	--color-darksecondary: #9a9fbf;
	--color-darktext: #e0e2f0;

	--color-lightbackground: #f5f6fa;
	--color-lightprimary: #ffffff;
	--color-lightsecondary: #575a70;
	--color-lighttext: #202231;
}

@layer base {
	html {
		scrollbar-width: thin;
		scrollbar-color: #8040ee transparent;
		background-color: transparent;
	}

	.dark {
		background-color: transparent;
	}
}

@layer components {
	::selection {
		background-color: #8040ee;
		color: #fff;
	}

	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #8040ee;
		border-radius: 10px;
	}
}
