---
const birthDate = new Date('2004-07-22');
const today = new Date();
const age = Math.floor((today.getTime() - birthDate.getTime()) / 31557600000);
---

<section class="whoami">
    <h2>~/whoami</h2>
    <p>I'm a <span id="age">{age}</span>-year-old developer and tech enthusiast. I enjoy working on my homelab and coding in TypeScript and Go.</p>
</section>

<style>
    .whoami p {
        margin-inline-start: var(--spacing-md);
    }
</style>
