<section class="whoami">
    <h2>~/whoami</h2>
    <p>
        A 21-year-old from Hungary focused on infrastructure. I primarily use Go
        and TypeScript.
    </p>
</section>

<style>
    .whoami p {
        margin-inline-start: var(--spacing-md);
    }
</style>
