@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scrollbar-width: thin;
        scrollbar-color: #8a58e0 transparent;
    }

    body {
        background-color: #000;
        color: #fff;
    }
}

@layer components {
    ::selection {
        background-color: #8039e2;
        color: #fff;
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #8a58e0;
        border-radius: 10px;
    }
}
